*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

a{
    color: white;
}

body{
    background-color: beige;
    height: 200vh;
    position: relative;
}


.holder{
    background-color: coral;
    padding: 25px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title__first{
    font-size: 36px;
    margin: 0 1rem;
}

.icon{
    max-width: 4rem;
    height: 4rem;
}

.links{
    background-color: #333;
    display: flex;
    justify-content: space-evenly;
    padding: 0 18px;
    height: 3rem;
}

.link{
    padding: 0.80rem 0;
}

.showcase{
    background-image: url('./My-Assets/light-abstract-background.jpg');
    background-position: top;
    background-size: 100%;
    min-height: 125px;
    text-align: center;
    color: whitesmoke;
}

h2{
    padding: 2rem 1rem;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #333;
    color: white;
}

.title__final{
    padding: 3rem 0;
    font-size: 24px;
}

#practice__tab{
    width: 100%;
    margin: 2rem 0;
}

/*

THIS IS NOW WHERE
      WE
PRACTICE OUR CODING!!!

*/

#practice__tab{
    border: 2px solid red;
    text-align: center;
    width: auto;
}


.first__button{
    animation: float 2000ms infinite alternate-reverse;
    transition: all 300ms;
    padding: 8px 36px;
    border-radius: 1111px;
}

.first__button:hover{
    background-color: black;
    color: white;
}

@keyframes float{
    0%{
        transform: translateY(0);
    }

    100%{
        transform: translateY(6rem);
    }
}

.new__tab{
    border: 2px solid blue;
    width: 100%;
}