@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

h1 {
    font-size: 72px;
}

button {
    background-color: #05c7cf;
    color: white;
    border: none;
    border-radius: 2px;
    padding: 8px 16px;
    font-size: 24px;
    cursor: pointer;
}

nav {
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #cafdff;
    height: 70px;
}

.logo-image {
    width: 300px;
}

.link {
    margin: 0 8px;
}

header {
    background-color: #eadcff;
    height: calc(100vh - 70px);
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sub-header {
    font-size: 32px;
    margin: 16px 0 24px 0;
}

.wrapper {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* HEADING 

TO NEXT 

SECTION*/

#about {
    padding: 48px 0;
    background-color: #f8ffdc;
}

h2 {
    font-size: 60px;
    text-align: center;
    margin-bottom: 24px;
}

.about__description {
    display: flex;
    justify-content: center;
    align-items: center;
}

.para-wrapper {
    width: 60%;
    margin: 0 24px;
}

.about__img--wrapper {
    width: 40%;
    margin: 0 24px;
}

img {
    width: 100%;
}

.para {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 24px;
}

#discord {
    padding: 48px;
    background-color: #cefeff;
}

/*

CONTACT

*/

#contact {
    background-color: #dce9ff;
    padding: 48px 0;
}

form {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 0 24px;
}

input, textarea {
    margin-bottom: 24px;
    font-size: 20px;
    padding: 6px 12px;
}

footer {
    background-color: #aaf5ff;
    padding: 48px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__logo--wrapper {
    width: 60%;
}

.footer__links {
    margin: 24px 0;
}

.footer__link {
    margin: 0 16px;
}


/*

Ends Here

*/

@media (max-width: 728px){
    body {
        overflow-x: hidden;
    }

    .wrapper {
        flex-direction: column;
        text-align: center;
    }

    h1 {
        font-size: 42px;
    }

    .sub-header {
        font-size: 24px;
    }

    header figure {
        width: 60%;
        margin-top: 16px;
    }

    nav figure {
        margin: auto;
    }

    .links a {
        display: none;
    }

    .about__description {
        flex-direction: column;
    }

    .para-wrapper {
        width: 90%;
    }

    .about__img--wrapper {
        width: 90%;
        margin-bottom: 30px;
    }

    .footer__logo--wrapper {
        width: 75%;
    }
}

@media (max-width: 490px){
    .footer__link {
        margin: 0 4px;
    }
}