@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;700;900&family=Roboto:wght@400;500;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: roboto slab, roboto;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

:root {
    --background-color: #353333;
}

header {
    width: 100%;
    height: 90px;
    background-color: var(--background-color);
}

li {
    list-style-type: none;
}

.container {
    width: 100%;
    max-width: 1300px;
    margin: auto;
    height: 100%;
}

.row {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.logo__info--container{
    display: flex;
    align-items: center;
    width: 30%;
    height: 100%;
    padding-left: 18px;
}

.logo__img {
    width: 70px;
}

.logo__heading {
    font-size: 24px;
    color: #fff;
    margin-left: 12px;
}

.links__list {
    display: flex;
    align-items: center;
}

.list-item, .footer__link {
    margin: 0 50px;
}

.link, .footer__link, .footer__copyright {
    color: white;
    text-decoration: none;
    font-size: 20px;
    cursor: no-drop;
}

.btn__menu {
    background-color: transparent;
    border: none;
    font-size: 2rem;
    transition: all 100ms ease;
    position: absolute;
    right: 40px;
    top: 38px;
    display: none;
    cursor: pointer;
}

.btn__menu:hover {
    color: #6415FF;
}

@keyframes slidein {
    /* from {
        transform: translateX(100%);
      }
    
      to {
        transform: translateX(-40%);
      } */

      0% {
        transform: translateX(100%);
      }

      70% {
        transform: translateX(-40%);
      }

      100% {
        transform: translateX(0);
      }
}

.menu__backdrop {
    position: absolute;
    height: 400px;
    left: 0px;
    right: 0px;
    top: 0px;
    z-index: 12;
    margin: 1.5rem 1rem;
    border-radius: 0.5rem;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(226, 232, 240);
    background-color: var(--background-color);
    padding: 2rem;
    text-align: center;
    visibility: hidden;
}

.menu__links {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.menu__open .menu__backdrop {
    visibility: visible;
    animation: slidein 300ms ease;
}

/*
                |
SHOWCASE INFO   |
                V
*/

main {
    height: 100%;
}

#showcase {
    height: calc(100vh - 90px);
    background-color: rgb(157, 38, 38);
    color: white;
    padding: 12px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.showcase__title, .showcase__title--para, #showcase__searchbar, .showcase__btn {
    margin: 12px 0;
}

.showcase__title {
    font-size: 56px;
}

.showcase__title--para{
    font-size: 28px;
}

#showcase__searchbar {
    min-width: 30%;
    height: 40px;
    font-size: 20px;
    border-radius: 99px;
    border: none;
    padding: 0 10px;
}

#showcase__searchbar::placeholder {
    text-align: center;
    font-size: 16px;
}

.showcase__btn {
    padding: 0.7rem 6rem;
    border-radius: 9px;
    border: none;
    font-size: 1.2rem;
    transition: all 300ms ease;
    cursor: pointer;
}

.showcase__btn:hover {
    background-color: var(--background-color);
    color:#fff;
}


#showcase__searchbar:hover {
    border: 2px solid darkred;
}

#showcase__searchbar:focus {
    border-color: red;
    outline: 0;
}


/*
                |
MAIN MOVIES     |
                V
*/

#main__movies {
    padding: 0 18px;
    margin-bottom: 56px;
}

.row__movies {
    display: block;
}

.movies__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px 0;
}

.movies__header--title {
    font-size: 38px;
}

#filter {
    padding: 0 24px;
    height: fit-content;
}

.movies {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.movie {
    margin: 1.2rem;
    transition: all 300ms ease;
    cursor: not-allowed;
}

.movie:hover {
    transform: scale(1.1);
    box-shadow: 0px 22px 43px 9px rgba(0,0,0,0.2);
    border: 1px solid;
}


.movie__title {
    font-size: 20px;
}

.movie__release-date {
    font-size: 16px;
}

.movie__wrapper--img {
    max-width: 300px;
    margin: auto;
}

.movie__img {
    width: 100%;
}


/*
                |
FOOTER          |
                V
*/


footer {
    background-color: var(--background-color);
    text-align: center;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__list {
    margin: 12px 0;
}


/*
                |
MOBILE DEVICES  |
                V
*/


@media (max-width: 983px) {
    .movies {
        justify-content: space-around;
    }

    #showcase {
        text-align: center;
    }

    #filter {
        outline: 2px solid red;
    }

    .showcase__title, .showcase__title--para {
        margin-left: 16px;
        margin-right: 16px;
    }

    #showcase__searchbar {
        padding: 0 10px;
        font-size: 14px;
    }

    #showcase__searchbar::placeholder {
        font-size: 14px;
    }
}

@media (max-width: 750px) {
    .logo__heading {
        text-align: center;
        font-size: 24px;
    }

    .links__list {
        display: none;
    }

    .btn__menu {
        display: block;
    }

    .movies__header--title {
        text-align: center;
        font-size: 32px;
        margin-right: 24px;
    }
}

@media (max-width: 600px) {
    #filter {
        padding: 0;
    }
}