@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;700;900&family=Roboto:wght@400;500;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: roboto slab, roboto;
}

header {
    width: 100%;
    height: 120px;
    background-color: rgb(174, 45, 45);
    border-bottom: 4px solid black;
}

.container {
    width: 100%;
    max-width: 1300px;
    margin: auto;
    height: 100%;
}

.row {
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.logo__info--container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    height: 100%;
}

.logo__img {
    width: 100px;
}

.logo__heading {
    font-size: 32px;
}

.links__list {
    list-style: none;
    display: flex;
    align-items: center;
}

.list-item {
    margin: 0 12px;
}

.link {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

/*
                |
MAIN PART       |
                V
*/

main {
    height: calc(100vh - 120px);
    outline: 6px solid darkcyan;
}

#showcase {
    height: 26vh;
    outline: 3px solid darkviolet;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.showcase__title, .showcase__title--para, #showcase__searchbar {
    margin: 12px 0;
}

