*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Inter, system-ui;
}

a{
    text-decoration: none;
    list-style: none;
    font-weight: 600;
}

.row{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px;
}

.logo__react{
    display: flex;
    align-items: center;
}

.logo{
    height: 50px;
    width: 50px;
    margin-right: 12px;
}

.nav__logo--title{
    font-weight: 900;
    font-size: 1.5rem;
}

.nav__links{
    display: flex;
    align-items: center;
}

.nav__link{
    padding: 0 24px;
    font-size: 14px;
    color: black;
}

.nav__link1{
    color: white;
}


.first__button{
    padding: 0.75rem 2rem;
    background-color: #6415ff;
    border: none;
    border-radius: 9999px;
}

/*Welcome Page*/

.purple{
    color: #6415ff;
}

.container{
    width: 100%;
    max-width: 1200px;
    padding: 96px 0;
    margin: 0 auto;
    display: flex;
    padding: 32px;
}

.first__title{
    font-size: 36px;
}

.intro__para{
    font-size: 16px;
    margin: 32px 0;
}

.twocolumn__input{
    max-width: 28rem;
    text-align: center;
    box-sizing: border-box;
    position: relative;
}

.input__target{
    width: 100%;
    border: solid #a0aec0;
    opacity: 0.4;
    border-radius: 9999px;
    border-width: 2px;
    font-weight: 500;
    padding-left: 32px;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    padding-right: 12rem;
}

.second__button{
    right: 0;
    top: 6px;
    margin-right: 0.5rem;
    padding: 1rem 36px;
    background-color: #6415ff;
    border: none;
    border-radius: 9999px;
    position: absolute;
    cursor: pointer;
    color: white;
    font-weight: 700;
}

.featured{
    width: 80%;
    margin-top: 80px;
}

.trust__customers{
    font-size: 12px;
    color: #a0aec0;
    font-weight: bolder;
}

.logo__strip{
    margin-top: 1rem;
    width: 100%;
    opacity: 0.5;
}

.left__side{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right__side{
    width: 60%;
}

.illustration{
    width: 100%;
}