@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

:root {
    --div-image-width-size: 200px; 
    --div-image-height-size: 100px; 
    --cosmic-latte: #fff8e7;
    --white: #f8f8f8;
}

nav {
    grid-template-columns: repeat(5, 20%);
    background-color: var(--cosmic-latte);
    display: grid;
}

.KD-Logo {
    width: 100%;
    height: var(--div-image-height-size);
}

figure:nth-child(1){
    grid-column-start: 1;
    align-self: center;
    justify-self: start;
}

figure:nth-child(2){
    grid-column-start: 3;
    justify-self: center;
}

.pfp {
    --div-image-width-size: 125px;
    width: var(--div-image-width-size);
    height: 100%;
}

ul {
    grid-column-start: 5;
    align-self: center;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0 12px;
}

header {
    height: calc(100vh - 128px);
    color: var(--white);
    display: grid;
    grid-template-columns: repeat(5 , 20%);
    grid-template-rows: repeat(5, 20%);
}

.btn {
}