@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=PT+Serif:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: PT serif, Verdana, Geneva, Tahoma, sans-serif;
}

body{
    font-size: 16px;
    line-height: 1.5;
    background-color: #f4f4f4;
}


/*This is Global*/
.container{
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

.dark{
    padding: 15px;
    background-color: #35424a;
    color: white;
    margin: 10px 0;
}

.button1{
    height: 25px;
    background-color: orange;
    border: none;
    padding: 0 20px;
    color: whitesmoke;
    cursor: pointer;
}

.button1:hover{
    background-color: aqua;
    color: #35424a;
    font-weight: 700;
}


header{
    background-color: #35424a;
    color: white; /*Links will always be done separtely. This did not affect the links when this was set.*/
    padding: 30px 0;
    min-height: 70px; /*We don't want this to go any smaller*/
    border-bottom: #e8491d 3px solid;
    display: flex;
    align-items: center;
}

header a{ /*I did not know this, so you can just call an a tag with the header and that works too.*/
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

header ul{
    list-style-type: none; /*So I tried putting this in header a but that did nothing. I suppose that was targeting the link. not the list!*/
    /*So... By putting display flex here, this will make the li become horizontal. It has something
    to do with the fact that display flex only affects the children of this element with auto width and auto height. If
    I were to put display inline here, nothing happens. Which, I believe is because there are no other ul's to be inline with!*/
}

header li{
    display: inline;
    padding: 0 20px;
    float: left;
}

header #branding{
    float: left; /*USING FLOAT CREATES AN INLINE ELEMENT FOR THE ID BRANDING.*/
}

header nav{
    float: right;
    margin-top: 15px;
}

header .highlight, header .current a{
    color: #e8491d;
    font-weight: bold;
}

header a:hover{
    color: #cccccc;
    font-weight: bold;
}

#showcase{
    min-height: 400px;
    background: url("./marek-piwnicki-unsplash-medium.jpg") no-repeat ; /*This was a matter of resizing the image yourself. not using any css to edit the scale or anything like that.*/
    background-size: cover; /*This makes sure the browser uses the image to fit the entire space. It may mean that the image will be cropped. But remember this is a background image. The text is more important.*/
    text-align: center;
    color: #f3efef;
}

#showcase h1{
    margin: 60px 0;
    font-size: 55px;
}

#showcase p{
    font-size: 20px;
}

#newsletter{
    padding: 15px;
    color: #ffff;
    background-color: #35424a;
    border-top: #e8491d 3px solid;
}

#newsletter h1{
    float: left;
}

#newsletter form{
    float: right;
    margin-top: 6px;
}

#newsletter input[type="email"]{ /*This is much more specific pertaining to the email input!*/
    padding: 4px;
    height: 25px;
    width: 250px;
}

/*BOXES*/

#boxes{
    margin-top: 20px;
}

#boxes .box{
    float: left;
    width: calc(100% / 3);
    padding: 10px;
    text-align: center;
}

footer{
    padding: 20px;
    margin-top: 20px;
    color: white;
    background-color: #e8491d;
    text-align: center;
}

/*ABOUT PAGE*/

aside#sidebar{           /*So apparently, by adding a space between aside and #sidebar, the layout is much different. By connecting them they have their own respective boxes. By separating them, They are on top of each other*/
    float: right;
    width: 30%;
    margin-top: 10px;
}

aside#sidebar .quote input, textarea{
    width: 90%;
    padding: 5px;
}

article#main-col{
    float: left;
    width: 65%;
    margin-top: 20px;
}

.page-title{
    margin: 1em 0;
    font-size: 1.5em;
}

ul#services li{
    list-style-type: none;
    padding: 20px;
    border: gray solid 1px;
    margin-bottom: 5px;
    background-color: #e6e6e6;
}

@media (max-width: 768px){
    header #branding, header nav, header nav li, #newsletter h1, #newsletter form, #boxes .box, article#main-col, aside#sidebar{
        float: none;
        text-align: center;
        width: 100%;
    }

    header{
        padding-bottom: 20px;
    }

    #showcase h1{
        margin: 30px 0;
    }

    #showcase p{
        margin-bottom: 4rem;
    }

    #newsletter button, .quote button{
        display: block;
        width: 100%;
    }

    #newsletter form input[type="email"], .quote input, .quote textarea{
        width: 100%;
        margin-bottom: 5px;
    }
}