@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

nav {
    height: 80px;
    display: flex;
}

h1 {
    font-size: 50px;
    color: #7342b6;
    margin-bottom: 24px;
}

h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 16px;
}

button {
    cursor: pointer;
}

button:active {
    transform: translateY(6px);
}

img {
    width: 100%;
    height: 100%;
    max-height: 44vh;
}

.nav__container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 0 24px;
}

.purple {
    color: #7342b6;
}

.logo {
    width: 160px;
    padding: 20px;
}

ul {
    display: flex;
    align-items: center;
}

li {
    list-style-type: none;
}

.nav__link { /*REMEMBER THIS IS THE A TAG*/
    margin: 0 12px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #7342b6;
    padding: 8px 0;
    transition: all 300ms ease;
}

.nav__link-effect {
    position: relative;
}

.nav__link-effect::before {
    content: "";
    position: absolute;
    height: 3px;
    background-color: #000;
    width: 0;
    right: 0;
    bottom: 6px;
    transition: all 300ms ease;
}

.nav__link-effect:hover:before {
    width: 100%;
    left: 0;
}

.nav__link--primary {
    border: 2px solid #7342b6;
    border-radius: 4px;
    padding: 8px;
}

.nav__link--primary:hover {
    text-decoration: none;
    color: #f8f8f8;
    background-color: #7342b6;
}

#landing {
    background-color: rgba(115, 66, 214, 0.1);
}

header {
    height: calc(100vh - 80px);
}

.header__description {
    padding: 0 20px;
}

.header__container {
    padding-top: 24px;
    width: 100%;
    max-width: 720px;
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.btn {
    background-color: #7342b6;
    color: #f8f8f8;
    padding: 12px 24px;
    font-size: 20px;
    border-radius: 9px;
    border: none;
    transition: all 300ms ease;
}

.btn:hover {
    background-color: #8549d8;
}

.header__img--wrapper {
    padding: 20px 20px 0 20px;
}